@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&family=Roboto:wght@100;500;900&display=swap');

body {
    font-family: "Raleway", sans-serif;
}

/* Main section */

.main-section {
    /* Imparte pagina in doua */
    display: flex;
    /* default flex este pe row, si se aseaza in dreapta...design-ul este facut pentru stanga */
    flex-direction: row-reverse;
    /* latimea proiectului---unde se afla content */
    width: 1200px;
    /* in jurul cv-ului este o margine de 40 pixeli */
    margin: 40px auto;

}

/* Right section + all components */
.right-section {
    margin-left: 80px;
    margin-right: 220px;
    background-color: #fff;
}

/* About me section */
.about-me-sec {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 100px;
    width: 400px;
}

/* Profession */
#profession {
    font-size: 20px;
    color: #000;
}

/* Name on the CV */
#personName {
    margin-top: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

/* The CV description */
#description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Right section --> Projects */
.projects {
    margin-top: 40px;
    width: 400px;
}

/* Projects block-title */
.right-sec-block-title {
    font-style: none;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
}

/* List custom */
#olList {
    margin-left: -1.4rem;
}

/* List Right section */
.right-section-list {
    font-weight: 800;
    color: #000;
}

/* Project items - right section */
.project-items {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #595959;
    margin-left: 10px;
}

.project-items a:visited {
    text-decoration: none;
    background-color: transparent;
    color: #595959;
}

.project-items a:link {
    text-decoration: none;
    background-color: transparent;
    color: #595959;
}

.project-items a:active {
    text-decoration: none;
    background-color: transparent;
    color: #595959;
}

/* Custom bracket right-section */
.bracket {
    font-weight: bold;
    margin: 2px;
}



/* Work experience block */

.person-jobs ul {
    margin-left: -1.4rem;
}

.job-name {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}


.descript-job {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #A8A8A8;
}


.line-brake {
    margin-right: 3px;
    color: #000;
}


/* Education block */

#studyName {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

#descriptEducation {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #A8A8A8;
}


/* Left section + all components */


.left-section {
    background-color: #1E2939;
    padding: 10px;
    width: 370px;
}

#imgProfile {
    align-content: center;
    padding: 40px;
}

.contacts {
    color: #fff;
    padding-left: 3rem;
    margin-bottom: 60px;
}

.left-section-title {
    font-size: 20px;
    line-height: 24px;
}

.contacts-block {
    margin-right: 0.5rem;
    line-height: 24px;
    font-size: 1.1rem;
}

.contacts-content {
    font-weight: 600;
}

#phone,
#email {
    font-weight: 400;
    color: #e7e6e1;
    text-decoration: none;
    font-size: 1.02rem;
    opacity: 0.7;
}

.tech-skills,
.soft-skills {
    color: #fff;
    padding-left: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
}

.tech-skills ul {
    list-style: none;
}

.soft-skills ul {
    list-style: none;
}


.tech-skills ul li::before {
    content: "\2022";
    color: #FB6D3A;
    font-weight: 800;
    display: inline-block;
    width: 1.5rem;
    margin-left: -2.3rem;
}

.soft-skills ul {
    list-style: none;
}

.soft-skills ul li::before {
    content: "\2022";
    color: #FB6D3A;
    font-weight: 800;
    display: inline-block;
    width: 1.5rem;
    margin-left: -2.3rem;
}